.large-text{
  font-size: 30px;
  font-weight: 300; 
  color: #174233;
}

.deck-name{
  font-size: 20px;
  font-weight: 300;
}

.deck-name-display{
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  margin:0px;
}

.deck-box{
  text-align: left;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 2px;
  cursor: pointer;
}

.deck-box:hover{
  background-color: #94e8b4;
}

.tag{
  background-color: #4E6151;
  color: #ffffff;
  font-weight: 400;
  padding: 4px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-btn{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-color: #94e8b4;
  font-weight: 300; 
  color: #174233;
  cursor: pointer;
}

.fav-btn{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 0px;
  background-color: #ffffff;
  font-weight: 300; 
  color: #174233;
  cursor: pointer;
}

.study-btn{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-color: #94dbe8;
  font-weight: 300; 
  color: #174240;
  cursor: pointer;
}

.study-btn:hover{
  background-color: #7290bd; 
  box-shadow: 0 0 2px #94cde8;
  cursor: pointer;
}
.search-btn:hover{
  background-color: #72BDA3; 
  box-shadow: 0 0 2px #94e8b4;
  cursor: pointer;
}

.comment-user{
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  margin:0px;
}
.comment-date{
  font-weight: 300;
  font-size: 18px;
  text-align: right;
  margin:0px;
}

.comment{
  margin:0px;
}
.add-btn{
  margin: 0px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #94e8b4; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  color: white;
  cursor: pointer;
  font-size: 40px;
  padding-bottom: 6px;
}

a{
  text-decoration: none;
}

.add-btn:hover{
  background-color: #72BDA3; 
}