.large-text{
  font-size: 30px;
  font-weight: 300; 
  color: #174233;
}

.deck-name{
  font-size: 20px;
  font-weight: 300;
}

.deck-box{
  text-align: left;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 2px;
  cursor: pointer;
}

.deck-box:hover{
  background-color: #94e8b4;
}
.tag{
  background-color: #4E6151;
  color: #ffffff;
  font-weight: 400;
  padding: 4px;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-btn{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-color: #94e8b4;
  font-weight: 300; 
  color: #174233;
  cursor: pointer;
}

.search-btn:hover{
  background-color: #72BDA3; 
  box-shadow: 0 0 2px #94e8b4;
  cursor: pointer;
}


.add-btn{
  margin: 0px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #94e8b4; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  color: white;
  cursor: pointer;
  font-size: 40px;
  padding-bottom: 6px;
}

a{
  text-decoration: none;
}

.add-btn:hover{
  background-color: #72BDA3; 
}