.user-box{
  text-align: left;
  border-width: 1px;
  width: 400px;
  border-style: solid;
  margin: 5px;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 2px;
  cursor: pointer;
}

.user-box:hover{
  background-color: #94e8b4;
}


.user-name{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}